<a href="https://colab.research.google.com/github/18101003rakin/practice/blob/master/Rapid_coding_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. You have a group of 3 students. Each student has a name, ID and dept stored in a 	dictionary. And all 3 students are stored in a “students” dictionary. Now use a loop to iterate through the “students” dictionary and print only the “name” of all the students.**

In [1]:
student_1 = {
    "Name" : "Mredul Khan",
    "ID" : "18101027",
    "Dept" : "CSE"
}

student_2 = {
    "Name" : "Nafees Imtiaj",
    "ID" : "18101008",
    "Dept" : "CSE"
}

student_3 = {
    "Name" : "Sk. Joy",
    "ID" : "18101020",
    "Dept" : "CSE"
}

Students = {1:student_1, 2:student_2, 3:student_3}

id = int(input("Enter ID : "))

for i in Students:
  if id == i:
    print(Students[i]["Name"])

Enter ID : 2
Nafees Imtiaj

**2. You have a list of students. Each student’s information is stored using a dictionary. 
Now write a python program to search a student by his/her ID. Use a loop and conditional so that this can also work on a big list of students.**

In [4]:
stu_1 = {
    "ID" : "1",
    "Last Name" : "Lee",
    "First Name" : "Peter",
    "Email" : "plee@gmail.com",
    "Year of Birth" : "1999"
}
stu_2 = {
    "ID" : "2",
    "Last Name" : "Edward",
    "First Name" : "Jonathon",
    "Email" : "jedward@gmail.com",
    "Year of Birth" : "1998"
}
stu_3 = {
    "ID" : "3",
    "Last Name" : "Johnson",
    "First Name" : "Marlyn",
    "Email" : "mjohnson@gmail.com",
    "Year of Birth" : "1997"
}
stu_4 = {
    "ID" : "6",
    "Last Name" : "Kim",
    "First Name" : "Joe",
    "Email" : "jkim@gmail.com",
    "Year of Birth" : "1995"
}

id = int(input("ID = "))
Students = {1:stu_1, 2:stu_2, 3:stu_3, 6:stu_4 }
for i in Students:
  if id == i:
    print(Students[i])

ID = 2
{'ID': '2', 'Last Name': 'Edward', 'First Name': 'Jonathon', 'Email': 'jedward@gmail.com', 'Year of Birth': '1998'}

**3(a). sum 1 + 3 + 5 + 7 + …. Up to n-th term = ?**

In [14]:
a = int(input("a = "))
sum = 0
for i in range (1, a+1):
    sum = sum+i
    i=i+1
print(sum)

a = 10
55

**3(b). sum 2 + 4 + 6 + ….. + 2n = ?**

In [16]:
n = int(input("n = "))
sum = 0
for i in range(1, 2*n+1):
  sum = sum+i
  i=i+1
print(sum)

n = 5
55

**3(c). sum 2 + 4 + 8 + ….. + n2 = ?**

In [17]:
n = int(input("n = "))
sum = 0
for i in range(1, (n**2)+1):
  sum = sum+i
  i=i+1
print(sum)

n = 2
10

**3(c). sum log(1) + log(2) + log(3) + …. + log(n) = ?**

In [20]:
import math

sum = 0
n = int(input("n = "))

for i in range (1, n+1):
  sum = sum + math.log10(i)
print(round(sum,2))

n = 3
0.78