<a href="https://colab.research.google.com/github/18101003rakin/practice/blob/master/rapid_coding_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Print the largest value from three given integers.**

In [7]:
a = int(input("A= "))
b = int(input("B= "))
c = int(input("C= "))

if a>b:
  if a>c:
    print("A is largest")
  else:
    print("C is largest")
elif b>a:
    if b>c:
      print("B is largest")   
    else:
      print("C is largest")

A= 10
B= 30
C= 20
B is largest

**2. Print the minimum value from three given integers.**

In [15]:
a = int(input("A= "))
b = int(input("B= "))
c = int(input("C= "))

if a<b:
  if a<c:
    print("A is lowest")
  else:
      print("C is lowest")  
elif b<a:
    if b<c:
      print("B is lowest")
    else:
      print("C is lowest")

A= 2
B= 3
C= 1
C is lowest

**3. Write a python program to calculate the grade of an exam. The exam mark will be given as input. Follow the UAP rule for grading.**

In [23]:
marks = float(input("Marks = "))

if marks>=80 and marks<=100:
  print("A+")
elif marks>=70 and marks<80:
  print("A")
elif marks>=60 and marks<70:
  print("A-")
elif marks>=50 and marks<60:
  print("B")
elif marks>=40 and marks<50:
  print("B")
else:
  print("F")

Marks = 22
F

**4. Write a python code to determine odd or even.**

In [26]:
a = int(input("a = "))
if a%2==0:
  print("Even")
else:
  print("Odd")

a = 4
Even

**5. Write a python code to determine negative or non-negative.**

In [32]:
a = float(input("a= "))

if a>0:
  print("Non negative")
elif a<0:
  print("Negative")  
else:
  print("Zero")

a= -8
Negative

**6. Write a program to check Leap year.**

In [35]:
year = int(input("Year = "))

if year%400 == 0:
  print("Leap Year")
elif year%100 == 0:
  print("Not leap year")
elif year%4 == 0:
  print("Leap year")
else:
  print("Not leap year")

Year = 2019
Not leap year

**7. Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string. 
.**

In [40]:
st = str(input("Enter a string(length=12) = "))

string_1 = st[ :3]
string_2 =st[3:6]
string_3 =st[6:9]
string_4 =st[9:12]

string = string_4+string_2+string_3+string_1

print(string)

Enter a string(length=12) = ABCDEFGHIJKL
JKLDEFGHIABC

**8. Suppose you are going to start a Django Project with a group of 5 members. Now, you need to store the information (Name, ID, CGPA, Email_Address, and Contact_no) about the group members in some variables. Choose the appropriate data type to store these information.**

In [42]:
Students = {

     1 : {
         "ID" : "1",
         "Name" : "Peter",
         "Email" : "peter24@university.edu",
         "Year of Birth" : 1993
     },    

     2 : {
         "ID" : "2",
         "Name" : "Jashim",
         "Email" : "jashim24@university.edu",
         "Year of Birth" : 1998
     },  

     3 : {
         "ID" : "3",
         "Name" : "Bithee",
         "Email" : "bithee24@university.edu",
         "Year of Birth" : 2000
     },      

     5 : {
         "ID" : "5",
         "Name" : "Sakib",
         "Email" : "sakib24@university.edu",
         "Year of Birth" : 1999
     },    

     4 : {
         "ID" : "4",
         "Name" : "Limon",
         "Email" : "limon24@university.edu",
         "Year of Birth" : 1997
     }    



}

id = int(input("Enter id : "))
Students[id]

Enter id : 3

{'Email': 'bithee24@university.edu',
 'ID': '3',
 'Name': 'Bithee',
 'Year of Birth': 2000}

**9. Suppose you are going to start a Django Project and you have selected “Library Management System” as your project. Now, at some point you need to store information about books. Currently, you have 5 books. The information you are interested in are Name, Author’s name, Publication Date, Printing date and Price.  Choose the appropriate data type to store these information.**

In [43]:
Books = {
    
    1 : {
        
        "Name" : "Pather Pachali",
        "Author's Name" : "Bivutibhusan",
        "Printing Date" : 1940,
        "Price" : 350

    },

  2 : {
        
        "Name" : "Dorojar opare",
        "Author's Name" : "Humayun Ahmed",
        "Printing Date" : 1995,
        "Price" : 300

    },

  3 : {
        
        "Name" : "The lighthouse",
        "Author's Name" : "Jule Vern",
        "Printing Date" : 1840,
        "Price" : 400

    },

  4 : {
        
        "Name" : "Data Communication",
        "Author's Name" : "Forouzan",
        "Printing Date" : 2008,
        "Price" : 500

    },

  5 : {
        
        "Name" : "Automata Theory",
        "Author's Name" : "Ullman",
        "Printing Date" : 1970,
        "Price" : 1000

    }  

        

}
book_no = int(input("Enter Book Number : "))
Books[book_no]

Enter Book Number : 2

{"Author's Name": 'Humayun Ahmed',
 'Name': 'Dorojar opare',
 'Price': 300,
 'Printing Date': 1995}

**10. Choose appropriate variables to store the following information**

In [44]:
Students = {
    1 : {
      "Name" : "John Smith",
      "Activity_1" : "Tennis",
      "Cost_1" : "$36",
      "Activity_2" : "Swiming",
      "Cost_2" : "$17"  
        },

    2 : {
      "Name" : "Jane Blogg",
      "Activity_1" : "Squash",
      "Cost_1" : "$40",
      "Activity_2" : "Swiming",
      "Cost_2" : "$17"  
        },

   3 : {
      "Name" : "John Smith",
      "Activity_1" : "Tennis",
      "Cost_1" : "$36",
      "Activity_2" : " ",
      "Cost_2" : " "  
        },

  4 : {
      "Name" : "Mark Antony",
      "Activity_1" : "Swiming",
      "Cost_1" : "$15",
      "Activity_2" : "Golf",
      "Cost_2" : "$47"  
        },
    
}

number = int(input("Enter Student Number: "))
Students[number]

Enter Student Number: 4

{'Activity_1': 'Swiming',
 'Activity_2': 'Golf',
 'Cost_1': '$15',
 'Cost_2': '$47',
 'Name': 'Mark Antony'}

**11. Choose variables of appropriate data type to store the following information.**

In [46]:
Employees = {
    
     77920 : {
         "EmpID" : 77920,
         "Last Name" : "Jackson",
         "First Name" : "Stephen",
         "Hire Date" : "11.29.1997"

     },

    77921 : {
         "EmpID" : 77921,
         "Last Name" : "Reynolds",
         "First Name" : "Sandy",
         "Hire Date" : "01.04.1993"

     },

    77922 : {
         "EmpID" : 77922,
         "Last Name" : "Armstrong",
         "First Name" : "Stephen",
         "Hire Date" : "09.16.1989"

     }, 

    77923 : {
         "EmpID" : 77923,
         "Last Name" : "Jackson",
         "First Name" : "Linda",
         "Hire Date" : "10.09.1996"

     }

}
id = int(input("Employee ID : "))
Employees[id]

Employee ID : 77922

{'EmpID': 77922,
 'First Name': 'Stephen',
 'Hire Date': '09.16.1989',
 'Last Name': 'Armstrong'}

**12. Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the ID, it will show all the information of that student.**

In [51]:
Students = {
    
  1 : {
         "ID" : "1",
         "Last Name" : "Lee",
         "First Name" : "Peter",
         "Email" : "plee@university.edu",
         "Year of Birth" : "1992"

     },

  2  : {
         "ID" : "2",
         "Last Name" : "Edward", 
         "First Name" : "Jonathan",
         "Email" : "jadward@university.edu",
         "Year of Birth" : "1977"

     },

   3 : {
         "ID" : "3",
         "Last Name" : "Johnson",
         "First Name" : "Marlyn",
         "Email" : "mjohnson@university.edu",
         "Year of Birth" : "1993"

     }     


}

id = int(input("ID : "))
Students[id]

ID : 2

{'Email': 'jadward@university.edu',
 'First Name': 'Jonathan',
 'ID': '2',
 'Last Name': 'Edward',
 'Year of Birth': '1977'}